.parentEl {
    display: grid;
    max-width: 100%;
    align-items: center;
    background-color: rgba(254, 254, 255, 1);
    min-height: 100%;
    margin: 24px 137px;
    border-radius: 15px;
    grid-template-columns: 1fr 3fr;
}

.containerFilter {
    display: grid;
    align-content: start;
    background-color: rgba(236, 236, 249, 1);
    width: 100%;
    height: 100%;
    justify-self: start;
    padding: 24px;
    align-items: start;
    border-radius: 15px 0 0 15px;

}

.containerTable {
    padding: 15px;
}


.tablePacks {
    min-height: 250px;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.pagination {
    flex: 1 1 auto;
    margin-top: 5px;
}