.container {
    display: grid;
    grid-template-areas:
    "title title"
    "question question"
    "answer answer"
    "cancel save"

}

.questionField {
    grid-area: question;
}

.answerField {
    grid-area: answer;
}

.cancel {
    grid-area: cancel;
}

.save {
    grid-area: save;
}

.title {
    grid-area: title;
}

.error {
    color: red;
}